
/* THEME VARIABLES */
/* ----------------------------- */

:root {
    // WHITE THEME
    --whiteTheme-primary-section-background-color: white;
    --whiteTheme-secondary-section-background-color: #f1f1f1;

    --whiteTheme-primary-text-color: black;
    --whiteTheme-secondary-text-color: white;
    --whiteTheme-sidebar-text-color: white;

    --whiteTheme-sidebar-background-color: #262626;
    --whiteTheme-sidebar-border-color: #202020;

    --whiteTheme-timeline-border: grey;
    --whiteTheme-timeline-item-marker-background-color: lightgray;
    --whiteTheme-timeline-item-marker-box-shadow-color: black;
    --whiteTheme-timeline-text-color: black;
    --whiteTheme-timeline-text-secondary-color: black;

    --whiteTheme-header-box-shadow-color: #303030;

    // DARK THEME
    --darkTheme-primary-section-background-color: #202020;
    --darkTheme-secondary-section-background-color: #262626;

    --darkTheme-primary-text-color: white;
    --darkTheme-secondary-text-color: black;
    --darkTheme-sidebar-text-color: #262626;

    --darkTheme-sidebar-background-color: #e6e6e6;
    --darkTheme-sidebar-border-color: #202020;

    --darkTheme-timeline-border: grey;
    --darkTheme-timeline-item-marker-background-color: lightgray;
    --darkTheme-timeline-item-marker-box-shadow-color: black;
    --darkTheme-timeline-text-color: lightseagreen;
    --darkTheme-timeline-text-secondary-color: rgb(64, 218, 210);

    --darkTheme-header-box-shadow-color: #0f0f0f;

    // DEFAULT THEME    
    --header-background-color: #050E1F;
    --header-text-color: white;
    --header-text-secondary-color: black;
    --logo-color: #0F2B5D;
}
