
@use '../../styles/variables';

  .contact-text {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: var(--header-text-color);
    margin: 0 auto;
  }
  .contact-me-title {
    @extend .contact-text;
    font-weight: bold;
    font-size: 36px;
    border-bottom: 2px solid var(--header-text-color);
    width: 50%;
  }
  
  .contact-me-info {
    @extend .contact-text;
    font-size: 18px;
    width: 66%;
    margin-top: 20px;
  }
  
  .contact-col {
    text-align: center;
    margin-top: 10px;
  }
  
  .icon-group {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }
  .icon {
    margin-right: 20px;
    color: var(--header-text-color);
  }
  .icon:hover {
    background: var(--header-text-color);
    color: var(--header-text-secondary-color);
    border-color: var(--header-text-color);
  }
  
  @media(max-width: 800px) {
    .contact-me-title {
      width: 80% !important;
      font-size: 30px !important;
    }
    .contact-me-info {
      width: 90% !important;
    }
  }
  