<!-- Section Title: Contact Me -->
<div class="contact-me-title">
  Contact Me
</div>

<!-- Contact information -->
<div class="contact-me-info">
  <div class="row">
    <div class="col-md-6 contact-col"> JOHNBUCHERCS@GMAIL.COM         </div>
    <div class="col-md-6 contact-col"> LITTLETON, COLORADO            </div>
  </div>
  <div class="row">
    <div class="col-md-6 contact-col"> (717)-305-8272       </div>
  </div>
</div>

<!-- List of contact icons -->
<div class="icon-group">
  <span><a href="./assets/Resume/John_Bucher-Resume.pdf" class="fa fa-file-pdf-o fa-2x icon" target="_blank"></a></span>
  <span><a href="https://www.linkedin.com/in/johnbuchercs/" class="fa fa-linkedin fa-2x icon" target="_blank"></a></span>
  <span><a href="https://github.com/JohnBucher" class="fa fa-github fa-2x icon" target="_blank"></a></span>
</div>
