<!-- Section Title: Contact Me -->
<div class="contact-me-title">
  Contact Me
</div>

<!-- Contact information -->
<div class="contact-me-info">
  <div class="row">
    <div class="col-md-6 contact-col"> JOHNBUCHERCS&#64;GMAIL.COM         </div>
    <div class="col-md-6 contact-col"> BOULDER, COLORADO            </div>
  </div>
</div>

<!-- List of contact icons -->
<div class="icon-group">
  <span><a href="./assets/Resume/John_Bucher-Resume.pdf" class="fa-regular fa-file-pdf circle-icon-button" style="margin-right: 20px;" target="_blank"></a></span>
  <span><a href="https://www.linkedin.com/in/johnbuchercs/" class="fa-brands fa-linkedin-in circle-icon-button" style="margin-right: 20px;" target="_blank"></a></span>
  <span><a href="https://github.com/JohnBucher" class="fa-brands fa-github circle-icon-button" target="_blank"></a></span>
  <div class="resume-label" style="margin-right: 145px;">Resume</div>
</div>
