.experience-page-div {
    width: 100%;
    float: none;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .company-picture {
    padding-top: 30px;
    padding-bottom: 15px;
    height: auto;
    width: 60%;
    display: block !important;
    margin: 0 auto;
  }
  .company-name {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 22px;
    font-weight: bolder;
  }
  .job-title {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .degree {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .dates {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .activities {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .activities-list {
    padding-bottom: 30px;
  }
  .responsibilities {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .responsibilities-list {
    padding-bottom: 30px;
  }
  
  .date {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .text {
    margin: 0 auto;
    text-align: center;
  }
  
  .experience-picture {
    display: block !important;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 127px;
    max-width: 539px;
  }
  .education-picture {
    display: block !important;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 175px;
    max-width: 235px;
  }
  
  .responsibility-header {
    font-weight: bold;
  }
  
  .list {
    width: 100%;
  }
  
  .li-list {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  
  li.li-list::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
