
@import '../styles/variables';

.projects-page-div {
    background-color: var(--primary-section-background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }