<div class="contact-page-div">

  <div style="width: 100%;">
    <div class="contact-me-title">
      Contact Me
    </div>
  </div>

  <div style="width: 100%;">
    <div class="contact-me-info">
      <div class="row">
        <div class="col-md-6 contact-col">
          JOHNBUCHERCS@GMAIL.COM
        </div>
        <div class="col-md-6 contact-col">
          2981 W CENTENNIAL DR, APT 208
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 contact-col">
          (717)-305-8272
        </div>
        <div class="col-md-6 contact-col">
          LITTLETON, CO 80123
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <div class="icon-group">
      <span><a href="../../assets/Resume - John Bucher.pdf" class="fa fa-file-pdf-o fa-2x icon" target="_blank"></a></span>
      <span><a href="https://www.linkedin.com/in/johnbuchercs/" class="fa fa-linkedin fa-2x icon" target="_blank"></a></span>
      <span><a href="https://github.com/JohnBucher" class="fa fa-github fa-2x icon" target="_blank"></a></span>
    </div>
  </div>

</div>
