.contact-page-div {
  background-color: #050E1F;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

@media(max-width: 800px) {
  .contact-me-title {
    width: 80% !important;
    font-size: 30px !important;
  }
  .contact-me-info {
    width: 90% !important;
  }
}

.input-style {
  width: 100%;
  margin-bottom: 10px;
}

.contact-me-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  color: #f2f2f2;
  border-bottom: solid;
  border-bottom-color: #f2f2f2;
  border-bottom-width: 2px;
  width: 50%;
  margin: 0 auto;
}
.contact-me-info {
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  color: #f2f2f2;
  width: 66%;
  margin: 0 auto;
  margin-top: 20px;
}
.contact-col {
  text-align: center;
  margin-top: 10px;
}

.icon-group {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.icon {
  margin-right: 20px;
}
