<div class="background-container">
  
  <div class="mask" [@maskAnimate]="'in'"></div>
  <img src="./assets/JB Logo/B-Logo-White.png" [@logoBAnimate]="logoBFragmentState" class="jb-logo drop-shadow"
    (@logoBAnimate.done)="onBLogoAnimationEvent()" width="150" height="150">
  <img src="./assets/JB Logo/J-Logo-White.png" [@logoJAnimate]="logoJFragmentState" class="jb-logo drop-shadow"
    (@logoJAnimate.done)="onJLogoAnimationEvent()" width="150" height="150">
  
  <!-- Sidebar -->
  <p-sidebar [(visible)]="display" position="right" [styleClass]="'sideBarStyle'">
    <div class="sidebar-container">
      <p-selectButton [options]="themeOptions" [style]="{'margin':'10px 0px'}" [(ngModel)]="themeUtilitySvc.selectedTheme" (click)="changeTheme()"></p-selectButton>

      <!-- Section Links -->
      <div class="menu-item" (click)="scrollToSection('home'); display = false">        Home </div>
      <div class="menu-item" (click)="scrollToSection('background'); display = false">  Background </div>
      <div class="menu-item" (click)="scrollToSection('skills'); display = false">      Skills </div>
      <div class="menu-item" (click)="scrollToSection('experience'); display = false">  Work Experience </div>
      <div class="menu-item" (click)="scrollToSection('education'); display = false">   Education </div>
      <div class="menu-item" (click)="scrollToSection('research'); display = false">    Research </div>
      <div class="menu-item" (click)="scrollToSection('contact'); display = false">     Contact Me </div>

      <!-- Social Icons -->
      <div class="sidebar-icon-group">
        <span><a href="./assets/Resume/John_Bucher-Resume.pdf" class="fa fa-file-pdf-o sidebar-icon" target="_blank"></a></span>
        <span><a href="https://www.linkedin.com/in/johnbuchercs/" class="fa fa-linkedin sidebar-icon" target="_blank"></a></span>
        <span><a href="https://github.com/JohnBucher" class="fa fa-github" target="_blank"></a></span>
      </div>
      <div class="sidebar-resume">Resume</div>

      <!-- JB Logo -->
      <img src="./assets/Home/Sidebar-Banner.png" class="sidebar-logo">

    </div>
  </p-sidebar>

  <!-- Toolbar -->
  <div class="toolbar drop-shadow" #toolbar>
    <div class="hover">
      <img src="./assets/JB Logo/JB-Logo-White.png" class="logo" width="36" height="36" (click)="scrollToSection('home');"
        [@JBLogoAnimate]="jbFullLogoState" (@JBLogoAnimate.done)="onJBLogoAnimate()">
    </div>
    <div class="toolbar-menu-container hover" (click)="display = true">
      <span class="toolbar-menu"> MENU </span>
      <i class="pi pi-bars toolbar-menu-icon"></i>
    </div>
  </div>

  <!-- Home Page Content -->
  <div class="centered-container front-page-div" id="home">
    <div class="background-container-content drop-shadow">
      <div class="title-block">
        <div class="row">
          <div class="col-lg-0 col-md-12 headshot-container">
            <img src="./assets/Headshots/HeadShot-Circle.png" class="headshot-title">
          </div>
          <div class="col-md-12">
            <div class="title-border-top"></div>
            <div class="title"> John Bucher </div>
            <div class="title-border-bottom"></div>
            <div class="subtitle"> Software Engineer | Full Stack Developer | Student </div>
          </div>
        </div>
      </div>

      <div class="learn-more-arrow" [@LearnMoreAnimation]="'in'">
        <div class="learn-more-text">Learn more</div>
        <div> <i class="pi pi-arrow-down" style="font-size: 1.5em"></i> </div>
      </div>
    </div>
  </div>
  
</div>
