
@import '../../styles/variables';

.background-container {
    /* The image used */
    background: #00000088;
    background-image: url('../../../assets/Home/Homepage.png'); /* Fallback */
    background-image: linear-gradient(0deg, #00000088, #ffffff44 100%), url('../../../assets/Home/Homepage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    top: 0px;
    bottom: 0px;
    height: calc(var(--vh, 1vh) * 100);
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  /*-------- Mobile Phones --------*/
  @media only screen and (max-device-width : 1024px) {
    .background-container {
      background-image: linear-gradient(0deg, #00000088, #ffffff44 100%), url('../../../assets/Home/Mobile-Homepage.png');
      background-attachment: initial;
    }
  }
  
  .front-page-div {
    color: white;
    width: 100%;
    justify-content: center;
    float: none;
  }
  .background-container-content {
    text-align: center;
    height: calc(var(--vh, 1vh) * 80);
    width: 75vw;
    max-width: 800px;
    display: table;
    top: 0px;
    margin-top: calc(var(--vh, 1vh) * -10);
  }
  
  .title-block {
    display: table-cell;
    vertical-align: middle;
  }
  .title-border {
    border-bottom: solid;
    border-color: white;
    border-width: 3px;
  }
  .title-border-top {
    @extend .title-border;
    margin-bottom: 15px;
  }
  .title-border-bottom {
    @extend .title-border;
    margin-top: 15px;
  }

  .home-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .title {
    @extend .home-text;
    font-size: 70px;
  }
  .subtitle {
    @extend .home-text;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .hover:hover {
    cursor: pointer;
  }

  .learn-more {
    position: absolute; 
    width: 30vw; 
    bottom: calc(var(--vh, 1vh) * 5); 
    left: 35vw;
  }
  .learn-more-text {
    font-size: 18px; 
    font-family: 'Titillium Web', sans-serif; 
    font-weight: normal; 
    margin-bottom: 5px;
  }
  
  .jb-logo {
    position: absolute;
    inset: 0px;
    margin: auto;
    opacity: 0;
    z-index: 1000;
  }
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #242424;
    opacity: 0;
    z-index: 999;
  }
  
  .headshot-title {
    width: 100%; 
    height: auto;
    z-index: 998;
    inset: 0px;
    margin-bottom: calc(var(--vh, 1vh) * 5);
  }
  .headshot-container {
    max-width: 500px !important;
    margin: 0px auto !important;
  }

  @media only screen and (max-height : 650px) {
    .learn-more,
    .learn-more-text {
      display: none;
    }
  }

  .theme-picker {
    display: flex;
    height: 30px;
    margin-left: 1.25rem;
    align-items: center;
    align-content: center;
    gap: 10px;
  }

  .sidebar-container {
    margin-top: 15px;
  }
  .p-sidebar-footer {
    display: none;
  }

  .mdc-switch__icon {
    display: none;
  }
  
  @media(min-width: 960px) {
    /* -- ON SCREEN SIZES LARGER THAN 960 -- */
    .headshot-title {
      max-width: 275px;
      max-height: 300px;
      position: absolute;
      top: -75px;
      left: -300px;
      margin-bottom: 0px;
    }
  }
  @media(max-width: 959px) {
    /* -- ON SCREEN SIZES SMALLER THAN 960 (Bootstrap lg col) -- */
    .background-container-content {
      margin-top: 0px;
    }
    .title {
      font-size: 60px;
    }
    .subtitle {
      font-size: 18px;
    }
  }
  
  @media(max-width: 575px) {
    /* -- ON SCREEN SIZES SMALLER THAN 576 (Bootstrap xs col) -- */
    .background-container-content {
      margin-top: 0px;
    }
    .title {
      font-size: 34px;
    }
    .subtitle {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 575px) {
    /* -- FOR MOBILE DEVICES WITH SCREEN SIZES SMALLER THAN 576 (Bootstrap xs col) -- */
    .title-block {
      top: calc(var(--vh, 1vh) * -7);
    }
  }
  