
@import '../../../styles/variables';

.project-container {
    display: block !important;
    position: relative;
    margin: 0 auto 15px auto;
    color: var(--primary-text-color);
}

.project-border {
    border-radius: 15px;
    border: 1px solid var(--header-background-color);
}
.project-image {
    @extend .project-border;
    display: block !important;
    width: 100%;
}
.project-information-card {
    @extend .project-border;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: -15px;
    border-radius: 0px 0px 15px 15px;
    border-top: none;
    background-color: var(--primary-section-background-color);
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.project-information-title {
    font-size: 24px;
    font-weight: bold;
}
.project-link {
    font-size: 20px;
    margin-left: 10px;
}

.tag-container {
    clear: both;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
.tag {
    display: flex;
    border: 2px solid;
    border-radius: 5px;
    align-items: center;
    margin: 0px 5px 5px 0px;
}
