
@import '../../styles/variables';

.background-page-div {
    background-color: var(--primary-section-background-color);
    width: 100%;
    justify-content: center;
    overflow: hidden;
    float: none;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .background-Text {
    color: var(--primary-text-color);
    font-size: 20px;
    padding-right: 10px;
    padding-right: 10px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .background-picture {
    width: 350px; 
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: 15px;
    padding-right: 45px;
    -webkit-filter: drop-shadow(3px 3px 5px black);
    filter:         drop-shadow(3px 3px 5px black);
  }
  .auto-align {
    margin-top: auto;
    margin-bottom: auto;
  }

  @media(max-width: 991px) {
    /* -- ON SCREEN SIZES SMALLER THAN 992 (Bootstrap lg grid column) -- */
    .background-picture {
      margin-right: auto;
      padding-right: 0px;
      margin-bottom: 25px;
      width: 300px; 
      height: 300px;
    }
    .logo-container {
      border-right: none;
    }

    .background-Text {
      font-size: initial;
    }
  }
