
@import '../../../styles/variables';

.timeline-container {
    padding: 15px 0px;
    margin: 15px 0px 15px 25px;
    border-left: 4px solid grey;
}

.timeline-item {
    padding: 15px 0px 15px 15px;
}
.timeline-item-marker {
    border-radius: 9999px;
    background-color: lightgrey;
    box-shadow: 0px 0px 5px 1px black;
    width: 12px;
    height: 12px;
    position: absolute;
    margin: 30px 0px 0px -8px;
}
.timeline-item-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--component-text-color);
}
.timeline-item-title {
    color: var(--component-text-secondary-color);
}
.timeline-item-dates {
    font-size: 0.8rem;
    color: var(--component-text-secondary-color);
}
.timeline-item-button {
    font-size: 14px;
    color: var(--component-text-color) !important;
    border-color: var(--component-text-color) !important;
}
.timeline-item-descriptor-container {
    overflow: hidden;
}
.timeline-item-descriptors {
    font-size: 0.85rem;
    color: var(--primary-text-color);
    transition: all 2s ease-in-out;
    margin: 2px 0px;
}
.timeline-item-image {
    height: 40px;
}

@media(max-width: 991px) {
    /* -- ON SCREEN SIZES SMALLER THAN 992 (Bootstrap lg grid column) -- */
    .timeline-container {
        margin: 15px 0px;
    }
}