<div class="timeline-container">
    <div *ngFor="let item of timelineData">
        <span class="timeline-item-marker" pTooltip="({{ item.dates }})" tooltipPosition="right"></span>
        <div class="timeline-item">
            <div>
                <img src="{{item.image}}" class="timeline-item-image">
            </div>
            <div class="timeline-item-name">
                {{ item.name }}
            </div>
            <div style="margin: 10px 0px;">
                <div *ngFor="let title of item.titles" style="margin-bottom: 5px;;">
                    <div class="timeline-item-title">
                        {{ title.name }}
                    </div>
                    <div class="timeline-item-dates">
                        {{ title.dates }}
                    </div>
                </div>
            </div>

            <button class="timeline-item-button" mat-stroked-button (click)="toggleVisibility(item)" style="margin: 5px 0px 10px 0px;">
                {{ getDescriptorButtonText(item) }}
            </button>

            <div [@openClose]="item.showDescriptors ? 'open' : 'closed'" class="timeline-item-descriptor-container">
                <div *ngFor="let descriptor of item.descriptors" class="timeline-item-descriptors">
                    - {{ descriptor }}
                </div>
            </div>
        </div>
    </div>
</div>