<div class="background-page-div">
  <div class="section-title background-section-title">
    Background
  </div>

  <div class="clearfix"></div>
  <br />

  <div>
    <div class="background-Picture">
      <img src="assets/AboutMe-Picture2.png" style="width: 350px; height: 400px;">
    </div>
    <div class="background-Picture-Circle">
      <img src="assets/HeadShot-Circle.png" style="width: 275px; height: 300px;">
    </div>
    <div class="background-Text">
      {{backgroundBlurb}}
    </div>
  </div>

</div>
