<div class="background-page-div">
  <div class="section-title background-section-title">
    Background
  </div>

  <div>
    <!-- Picture to be displayed when width is higher, contains a divider -->
    <div class="background-picture-div">
      <img src="assets/background-Picture.png" class="background-picture">
    </div>
    <!-- Picture to be displayed when width is lower -->
    <div class="background-picture-circle-div">
      <img src="assets/HeadShot-Circle.png" class="background-picture-circle">
    </div>

    <!-- Background Text -->
    <div class="background-Text">
      {{backgroundBlurb}}
    </div>
  </div>

</div>
