
@import '../../styles/variables';

.timeline-container {
    padding: 15px 0px;
    margin: 15px 0px 15px 25px;
    border-left: 4px solid var(--timeline-border);
}

.timeline-item {
    padding: 15px;
}
.timeline-item-marker {
    border-radius: 9999px;
    background-color: var(--timeline-item-marker-background-color);
    box-shadow: 0px 0px 5px var(--timeline-item-marker-box-shadow-color);
    width: 12px;
    height: 12px;
    position: absolute;
    margin: 22px 0px 0px -8px;
}
.timeline-item-name {
    font-weight: bold;
}
.timeline-item-dates {
    font-size: 0.8rem;
}
.timeline-item-descriptor-container {
    overflow: hidden;
}
.timeline-item-descriptors {
    font-size: 0.75rem;
    color: var(--timeline-border);
    transition: all 2s ease-in-out;
    margin: 2px 0px;
}
.timeline-item-image {
    height: 32px;
}