
@import '../styles/variables';

.skills-page-div {
    background-color: var(--secondary-section-background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    position: relative;
  }
  
  .skills-section-title {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    border-bottom: solid;
    margin-bottom: 60px;
  }
  
  .skill-col {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404a5b;
    min-height: 175px;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  .skill-on-col {
    background-color: #404a5b;
  }
  .skill-off-col {
    background-color: #495568;
  }
  
  .col-title-text {
    color: lightblue;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    display: flex;
    background-color: var(--header-background-color);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    position: absolute;
  }
  
  .hover-col:hover .overlay {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .skill-button {
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    position: absolute;
  }
  
  .hover-col:hover .skill-button {
    opacity: 1;
    cursor: pointer;
  }
  
  .popUp-skill-title {
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 20px;
  }
  
  .skill-year-star {
    color: var(--header-background-color);
  }
  
  .star-col {
    padding-left: 0px;
  }
  
  .skill-dialog-container {
    padding: 10px 0 10px 0;
  }
  
  .skill-content {
    height: 80%;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 35px 1px grey;
    max-width: 1000px;
  }
  