

* {
  margin: 0;
  padding: 0;
}
  
/* SIDEBAR */
/* ----------------------------- */
.sideBarStyle {
  background-color: var(--sidebar-background-color);
  border: 1px solid var(--sidebar-background-color);
  color: var(--primary-text-color);
}

.menu-item {
  padding: 10px 0 10px 10px;
  border-bottom: 3px solid var(--sidebar-border-color);
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: normal;
  color: var(--sidebar-text-color);
}
.menu-item:hover {
  cursor: pointer;
}

.sidebar-icon-group {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}
.resume-label {
  font-family: 'Roboto Slab', serif;
  font-size: 1.25em;
  font-weight: normal;
  color: var(--sidebar-text-color);
  text-align: center;
  margin-right: calc(6em + 20px);
}
.sidebar-pdf-icon {
  border-bottom: 3px solid var(--sidebar-border-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* ----------------------------- */


/* TOOLBAR */
/* ----------------------------- */
.toolbar {
  top: 0px;
  width: 100%;
  height: 50px;
}
.logo {
  margin-top: 7px; 
  float: left; 
  margin-left: 20px;
}
.toolbar-menu-container {
  float: right;
}
.toolbar-menu {
  color: var(--header-text-color); 
  display: inline-block; 
  vertical-align: middle; 
  line-height: 50px; 
  font-size: 1em; 
  margin-right: 5px;
}
.toolbar-menu-icon {
  color: var(--header-text-color); 
  display: inline-block; 
  vertical-align: middle; 
  line-height: 50px; 
  font-size: 1.25em; 
  margin-right: 10px;
}
/* ----------------------------- */

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body {
  margin: 0px;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

body .p-drawer {
  background-color: var(--sidebar-background-color);
  border: 1px solid var(--sidebar-border-color);
  color: var(--sidebar-text-color);
  font-weight: bold;
}

body .p-drawer-header .closeButton {
  margin: 5px 5px 0 auto;
}

body .p-drawer-header .closeButton:hover {
  background: none;
  border-radius: 25px;
  border: 2px solid white;
  margin: 3px 3px -2px auto; // Readjust margin to avoid "flickering" due to border's added 2px
}

body .p-drawer-header .closeButton:hover .p-button-text {
  color: var(--sidebar-text-color);
}

.p-drawer-right {
  width: 17rem !important;
}

.ui-row {
  display: flex;
  clear: both;
}

.p-drawer .p-drawer-header {
  padding: 0px;
}

.p-button {
  padding: 0.5em 1em;
}

.circle-icon-button:hover {
  background: white;
  color: black;
  border-color: white;
  cursor: pointer;
}
.circle-icon-button {
  border: 1px solid;
  border-radius: 50%;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  text-align: center;
  padding-top: 10px;
  color: white;
}

.footer {
  width: 100%;
  background-color: var(--header-background-color);
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 15px;
  text-align: center;
}

.sub-section-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--component-text-color);
  padding-left: 10px;
}
.sub-section-small-icon-padding {
  padding-left: 15px;
}

.drop-shadow {
  -webkit-filter: drop-shadow(3px 3px 5px black);
  filter:         drop-shadow(3px 3px 5px black); 
}

.centered-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.section-div {
  width: 100%;
  justify-content: center;
  overflow: hidden;
  float: none;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.primary-section {
  @extend .section-div;
  background-color: var(--primary-section-background-color);
}
.secondary-section {
  @extend .section-div;
  background-color: var(--secondary-section-background-color);
}
.header-section {
  @extend .section-div;
  background-color: var(--header-background-color);
}
.timeline-section {
  margin-left: 10%;
  float: none;
}

@media(max-width: 991px) {
  /* -- ON SCREEN SIZES SMALLER THAN 992 (Bootstrap lg grid column) -- */
  .timeline-section {
    margin-left: 0px;
  }
}
