<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class='container-fluid'>
  <div class='body-content'>
    <!-- Landing Section -->
    <app-home></app-home>

    <!-- Additional Sections -->
    <div id="background" class="primary-section">
      <app-background></app-background>
    </div>
    <div id="skills" class="secondary-section">    
      <app-skills></app-skills>
    </div>
    <div class="container primary-section" id="experience/education" style="max-width: none;">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <app-experience></app-experience>
        </div>
        <div class="col-md-6 col-sm-12">
          <app-education></app-education>
        </div>
      </div>
    </div>
    <div id="projects" class="secondary-section">  
      <app-projects></app-projects>
    </div>
    <div id="research" class="primary-section">  
      <app-research></app-research>
    </div>
    <div id="contact" class="header-section">
      <app-contact></app-contact>
    </div>
    
    <!-- Footer -->
    <div class="footer">
      John Bucher - 2025
    </div>
  </div>
</div>
