<div class="research-page-div">
  <div class="section-title">
    Research
  </div>

  <div class="research-container">
    <div class="research-title">
      {{title}}
    </div>
    <div class="research-description">
      {{description}}
    </div>
    <div class="research-awards-header">
      Awards:
    </div>
    <div class="research-awards-container">
      <ul>
        <li class="research-awards-item li-list">
          'Best Senior Research Project' awarded by the Computer Science Department
        </li>
        <li class="research-awards-item li-list">
          'Honorable Mentions: Best Senior Research Project' awarded by the Honors Department
        </li>
      </ul>
    </div>
    <div class="ui-row research-project-picture-container">
      <img src="/assets/Research/Final Poster - John Bucher.png" class="research-project-picture" />
    </div>

    <div style="width: 100%;">
      <a class="download-pdf-link" href="/assets/Research/Final Poster - John Bucher.pdf" download> <img src="/assets/Research/pdf-download-icon.png" class="download-pdf-icon"/> </a>
    </div>
  </div>

</div>
