<app-title title="Research"></app-title>

<div class="research-container">
  <div class="research-title">
    {{title}}
  </div>
  <div class="research-description">
    {{description}}
  </div>
  <div class="research-awards-header">
    Awards:
  </div>

  <div class="research-description">
    'Best Senior Research Project' awarded by the Shippensburg University Computer Science Department
    <br />
    'Honorable Mentions: Best Senior Research Project' awarded by the Wood Honors College at Shippensburg University
  </div>

  <div class="ui-row research-project-container">
    <img src="./assets/Research/Final Poster - John Bucher.png" class="research-project-picture" />
    <div class="download-pdf-link">
      <span><a href="./assets/Research/Final Poster - John Bucher.pdf" class="fa-regular fa-file-pdf download-pdf-icon" target="_blank"></a></span>
    </div>
  </div>
</div>
