
@import '../../styles/variables';
  
  .research-container {
    color: var(--primary-text-color);
    width: 95%;
    margin: 0 auto;
  }
  .research-text {
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }
  .research-title {
    @extend .research-text;
    font-weight: bold;
    font-size: 24px;
  }
  .research-description {
    @extend .research-text;
    font-size: 14px;
    width: 70%;
    margin: 5px auto 0px auto;
  }
  .research-awards-header {
    @extend .research-text;
    font-size: 20px;
    font-weight: bold;
    margin: 25px auto 0px auto;
  }
  .research-project-container {
    position: relative;
    display: block !important;
    margin: 30px auto 0px auto;
    width: 100%;
    height: 100%;
    max-height: 900px;
    max-width: 1200px;
  }
  .research-project-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    box-shadow: 5px 5px 30px var(--header-box-shadow-color);
  }
  
  /* PDF DOWNLOAD */
  /* ----------------------------- */
  .download-pdf-link {
    display: block !important;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: -25px;
    right: -25px;
  }
  .download-pdf-icon {
    border: 2px solid;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    color: white;
    background-color: #e14045;
    font-size: 2.5em;
    padding-top: 17px;
  }
  .download-pdf-icon:hover {
    background-color: #a32f33;
    color: white;
  }
  /* ----------------------------- */

  @media(max-width: 767px) {
    /* -- ON SCREEN SIZES SMALLER THAN 768px (Bootstrap md grid column) -- */
    .download-pdf-link {
      position: relative;
      margin-top: 15px;
      top: 0px;
      right: 0px;
    }
    .download-pdf-icon {
      font-size: 1.75em;
      padding-top: 12px;
    }
  }
  