<div class="section-title">
  Research
</div>

<div class="research-container">
  <div class="research-title">
    {{title}}
  </div>
  <div class="research-description">
    {{description}}
  </div>
  <div class="research-awards-header">
    Awards:
  </div>
  <ul>
    <li class="research-description li-list">
      'Best Senior Research Project' awarded by the Shippensburg University Computer Science Department
    </li>
    <li class="research-description li-list">
      'Honorable Mentions: Best Senior Research Project' awarded by the Wood Honors College at Shippensburg University
    </li>
  </ul>
  <div class="ui-row research-project-container">
    <img src="./assets/Research/Final Poster - John Bucher.png" class="research-project-picture" />
    <div class="download-pdf-link">
      <span><a href="./assets/Research/Final Poster - John Bucher.pdf" class="fa fa-file-pdf-o download-pdf-icon" target="_blank"></a></span>
    </div>
  </div>
</div>
