
<app-title title="Skills"></app-title>

<div class="centered-container" style="justify-content: center; flex-wrap: wrap;">
  <div class="skill-content">

    <div class="row">
      <div *ngFor="let skillGroup of skillData" class="col-xl-3 col-lg-4 col-sm-6">
        <app-skill-group [skillGroupData]="skillGroup" class="skills-background-color"></app-skill-group>
      </div>
    </div>

    <div class="sub-section-title" style="margin-top: 50px;">Certifications</div>
    <!-- SAFe Scrum Master -->
    <div class="centered-container">
      <div class="certification-piece"><img src="./assets/Skills/cert_mark_SSM_small_150px.png" class="certification-image"></div>
      <div class="certification-piece">SSM</div>
      <div class="certification-piece">Certified SAFe® 5 Scrum Master</div>
    </div>
    <div class="awarded-on"><span style="font-weight: bold;">Awarded On: </span>Febuary 22, 2021</div>

  </div>

</div>
