
/* TITLE SCREEN */
/* ------------------------------------------------------------------------------------- */
.backgroundImage {
  /* The image used */
  background-image: url("../../assets/EarthBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  z-index: -10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*-------- Mobile Phones --------*/
@media only screen and (max-device-width : 1024px) {
  .backgroundImage {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../../assets/EarthBackground.jpg");
    background-size: auto;
    background-attachment: initial;
  }
}

.front-page-div {
  color: white;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
}

.border-top {
  border-bottom: solid;
  border-color: white;
  border-width: 3px;
  margin-bottom: 15px;
}

.border-bottom {
  border-top: solid;
  border-color: white;
  border-width: 3px;
  margin-top: 15px;
}

.header-content {
  width: 100%;
  height: 160px;
}

.backgroundImage-content {
  text-align: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 75vw;
  max-width: 800px;
}

.title {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 450px;
  opacity: 0;
}

.title-block {
  padding-top: 20vh;
}

.subtitle {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.hover:hover {
  cursor: pointer;
}

.section-title {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  background-color: #050E1F;
  color: white;
  margin-bottom: 50px;
  box-shadow: 1px 1px 30px 1px #303030;
}

/* SIDEBAR */
/* ----------------------------- */
.sideBarStyle {
  background-color: #262626;
  border: 1px solid #262626;
  color: white;
}

.menu-item {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 3px solid #202020;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: normal;
  color: #b3b3b3;
}
.menu-item:hover {
 cursor: pointer;
}
/* ----------------------------- */

@media(max-width: 600px) {
  .title {
    font-size: 66px;
    width: 450px;
  }
  .subtitle {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 42.25vh !important;
    margin-bottom: calc(var(--vh, 1vh) * 42.25) !important;
  }
}
@media(max-width: 564px) {
  .subtitle {
    margin-bottom: 42.4vh !important;
    margin-bottom: calc(var(--vh, 1vh) * 42.4) !important;
  }
  .title-block {
    padding-top: 15vh;
  }
}
@media(max-width: 672px) {
  .subtitle {
    margin-bottom: 40vh;
    margin-bottom: calc(var(--vh, 1vh) * 40);
  }
}
@media(max-width: 512px) {
  .title {
    font-size: 60px;
    width: 450px;
  }
  .subtitle {
    font-size: 14px;
    margin-top: 10px;
  }
  .section-title {
    font-size: 40px;
  }
}
@media(max-width: 470px) {
  .subtitle {
    margin-bottom: 38vh !important;
    margin-bottom: calc(var(--vh, 1vh) * 38) !important;
  }
}
@media(max-width: 375px) {
  .title-block {
    padding-top: 10vh;
  }
}
/* ------------------------------------------------------------------------------------- */



/* ABOUT ME */
/* ------------------------------------------------------------------------------------- */
.aboutMe-page-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  float: none;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutMe-Text {
  color: grey;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-right: 10px;
  top: 0px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 400px;
}

.aboutMe-Picture {
  float: left;
  margin-left: 30px;
  margin-right: 50px;
  position: relative;
}

.aboutMe-Picture-Circle {
  visibility: hidden;
  height: 0;
  width: 0;
  top: 30px;
  position: relative;
}

@media(max-width: 875px) {
  .aboutMe-Text {
    float: none;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    height: auto;
  }

  .aboutMe-section-title {
    margin-bottom: 25px;
  }

  .aboutMe-Picture {
    visibility: hidden;
    float: none;
    height: 0;
    width: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .aboutMe-Picture-Circle {
    visibility: visible;
    height: 300px;
    width: initial;
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutMe {
    float: none;
  }
}
/* ------------------------------------------------------------------------------------- */



/* SKILLS */
/* ------------------------------------------------------------------------------------- */
.skills-page-div {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-wrap: wrap;
  position: relative;
}

.skills-section-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  border-bottom: solid;
  margin-bottom: 60px;
}

.skill-col {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #404a5b;
  height: 175px;
  color: white;
}
.skill-off-col {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #495568;
  height: 175px;
  color: white;
}

.col-title-text {
  color: lightblue;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #030b19;
  height: 175px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  position: absolute;
}

.hover-col:hover .overlay {
  opacity: 0.75;
  cursor: pointer;
}

.skill-button {
  height: 50px;
  width: 50px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  position: absolute;
}

.hover-col:hover .skill-button {
  opacity: 1;
  cursor: pointer;
}

.popUp-skill-title {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 20px;
}
/* ------------------------------------------------------------------------------------- */



/* EXPERIENCE */
/* ------------------------------------------------------------------------------------- */
.experience-page-div {
  width: 100%;
  float: none;
  padding-top: 100px;
  padding-bottom: 100px;
}

.experience-section-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  border-bottom: solid;
  margin-bottom: 60px;
}


.ui-row {
  display: flex;
  clear: both;
}

.company-picture {
  padding-top: 30px;
  padding-bottom: 15px;
  height: auto;
  width: 60%;
  display: block !important;
  margin: 0 auto;
}
.company-name {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 22px;
  font-weight: bolder;
}
.job-title {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: bold;
}
.degree {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: bold;
}
.dates {
  padding-bottom: 5px;
  padding-top: 5px;
}
.activities {
  padding-top: 5px;
  padding-bottom: 5px;
}
.activities-list {
  padding-bottom: 30px;
}
.responsibilities {
  padding-top: 5px;
  padding-bottom: 5px;
}
.responsibilities-list {
  padding-bottom: 30px;
}

.date {
  margin-right: 10px;
  font-weight: bold;
}

.text {
  margin: 0 auto;
  text-align: center;
}

.experience-picture {
  display: block !important;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 127px;
  max-width: 539px;
}
.education-picture {
  display: block !important;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 175px;
  max-width: 235px;
}

.responsibility-header {
  font-weight: bold;
}

.list {
  width: 100%;
}

.li-list {
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
}

ul {
  list-style: none;
}

li.li-list::before {
  content: "\2022";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

body .experience-page-div .ui-carousel .ui-carousel-viewport {
  border: none;
  background-color: white;
}
body .education-page-div .ui-carousel .ui-carousel-viewport {
  border: none;
  background-color: #f4f4f4;
}

.ui-carousel-button {
  color: white !important;
}
.ui-carousel-button:hover {
  color: #cccccc !important;
}
.ui-carousel-page-link {
  color: white !important;
}
.ui-carousel-page-link:hover {
  color: #cccccc !important;
}
.ui-carousel-header {
  background-color: #050E1F !important;
  color: white !important;
  border: 1px solid black !important;
}
/* ------------------------------------------------------------------------------------- */



/* EDUCATION */
/* ------------------------------------------------------------------------------------- */
.education-page-div {
  background-color: #f4f4f4;
  width: 100%;
  float: none;
  padding-top: 100px;
  padding-bottom: 100px;
}

.education-section-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  border-bottom: solid;
  margin-bottom: 60px;
}
/* ------------------------------------------------------------------------------------- */



/* RESEARCH */
/* ------------------------------------------------------------------------------------- */
.research-page-div {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.research-section-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  border-bottom: solid;
  margin-bottom: 60px;
}
/* ------------------------------------------------------------------------------------- */



/* CONTACT */
/* ------------------------------------------------------------------------------------- */
.contact-page-div {
  background-color: #050E1F;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.contact-section-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  border-bottom: solid;
  margin-bottom: 60px;
}
/* ------------------------------------------------------------------------------------- */

.fa:hover {
  background: white;
  color: black;
  border-color: rgba(10, 10, 10, 0.1);
  cursor: pointer;
}
.fa {
  border: 1px solid;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  text-align: center;
  padding-top: 15px;
  color: white;
}

.sidebar-icon-group {
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
}
.sidebar-resume {
  margin: 10px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: normal;
  color: #b3b3b3;
}
.sidebar-pdf-icon {
  border-bottom: 3px solid #202020;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.sidebar-icon {
  margin-right: 20px;
}

.footer {
  width: 100%;
  background-color: #050E1F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 15px;
}
