
.background-container {
  /* The image used */
  background-image: url("../../assets/EarthBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  z-index: -10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*-------- Mobile Phones --------*/
@media only screen and (max-device-width : 1024px) {
  .background-container {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../../assets/EarthBackground.jpg");
    background-size: auto;
    background-attachment: initial;
  }
}

.front-page-div {
  color: white;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
}

.border-top {
  border-bottom: solid;
  border-color: white;
  border-width: 3px;
  margin-bottom: 15px;
}

.border-bottom {
  border-top: solid;
  border-color: white;
  border-width: 3px;
  margin-top: 15px;
}

.header-content {
  width: 100%;
  height: 160px;
}

.background-container-content {
  text-align: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 75vw;
  max-width: 800px;
}

.title {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 450px;
  opacity: 0;
  width: 100%;
}

.title-block {
  padding-top: 20vh;
}

.subtitle {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.hover:hover {
  cursor: pointer;
}

.section-title {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  background-color: #050E1F;
  color: white;
  margin-bottom: 50px;
  box-shadow: 1px 1px 30px 1px #303030;
}

.learn-more-arrow {
  position: absolute; 
  width: 30vw; 
  bottom: 5vh; 
  left: 35vw;
}
.learn-more-text {
  font-size: 18px; 
  font-family: 'Titillium Web', sans-serif; 
  font-weight: normal; 
  margin-bottom: 5px;
}

@media(max-width: 600px) {
  .title {
    font-size: 66px;
    width: 450px;
  }
  .subtitle {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 42.25vh !important;
    margin-bottom: calc(var(--vh, 1vh) * 42.25) !important;
  }
}
@media(max-width: 564px) {
  .subtitle {
    margin-bottom: 42.4vh !important;
    margin-bottom: calc(var(--vh, 1vh) * 42.4) !important;
  }
  .title-block {
    padding-top: 15vh;
  }
}
@media(max-width: 672px) {
  .subtitle {
    margin-bottom: 40vh;
    margin-bottom: calc(var(--vh, 1vh) * 40);
  }
}
@media(max-width: 512px) {
  .title {
    font-size: 60px;
    width: 450px;
  }
  .subtitle {
    font-size: 14px;
    margin-top: 10px;
  }
  .section-title {
    font-size: 40px;
  }
}
@media(max-width: 470px) {
  .subtitle {
    margin-bottom: 38vh !important;
    margin-bottom: calc(var(--vh, 1vh) * 38) !important;
  }
}
@media(max-width: 375px) {
  .title-block {
    padding-top: 10vh;
  }
}
